/* all */
body {
  margin: 0;
  background-color: #364c9f;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  color: white;
}

a {
  color: lightblue;
}

header {
  background-color: white;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

main {
  margin-top: 90px;
}

.heading {
  font-size: 60px;
  color: #fc7b1a;
  text-align: center;
  z-index: 2;
}

.logo {
  max-width: 90px;
}

.menu-icon {
  font-size: 30px;
  background: none;
  border: none;
  margin: 20px;
  cursor: pointer;
}

.menu-icon:hover {
  color: darkgray;
}

.subheading {
  color: #fc7b1a;
}

/* Navigation */

.navigation {
  position: fixed;
  width: 0;
  background-color:rgb(222, 222, 222);
  z-index: 3;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  transition: 0.5s;
}

li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 20px;
  padding: 8px 8px 8px 32px;
  min-width: 200px;
}

li a:hover {
  color: white;
  background-color: gray;
  transition: 0.5s;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
}

.overlay-active {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: -200px;
}

/* home */

.home{
  padding:50px;
}

.video video {
  max-width: 500px;
  text-align: center;
}

.video_description {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.banner {
  background-color: black;
  height: 400px;
  position: relative;
}

.banner h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: white;
}

.banner img {
  height: 400px;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.slideShow {
  max-width: 800px;
  height: 400px;
  /* background-color: rgb(53, 52, 52); */
  margin: auto;
  position: relative;
  background-color: rgb(59, 58, 58);
}

.slides_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slides {
  position: absolute;
  top: 30px;
  bottom: 30px;
  width: 100%;
}

.video {
  text-align: center;
  padding: 0 50px 50px 50px;
}

.video video {
  margin: 50px;
}

/* about us */

.story_container ~ *{
  padding:50px
}

/* contact us */

.contact-info {
  padding: 20px 50px 50px 50px;
}

.contact-info div{
  margin-top: 20px;
}

.phone-number{
  color: antiquewhite;
  
}

/* foster */

.foster_dog {
  padding: 50px;
}

.team_rescues {
  padding: 50px;
  background-color: #4e6bd2;
}

.team_rescues span {
  color: white;
  font-size: 25px;
  text-align: center;
}

.foster_dog {
  padding: 20px 50px 50px 50px;
}

.dog_container {
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* adopt us */

.adopt-info {
  padding: 0 50px;
  text-align: center;
}

.adoptable-dogs {
  padding: 50px;
  text-align: center;
}

.adoptable-dogs img {
  max-width: 400px;
}

/* volunteer */
.voluteer{
  padding: 50px;
}

/* animations */

.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
